{% extends "portal/layout.html"%}
{% block body %}
    <div class="grid-container">
        <div class="header">
            <ul class="nav justify-content-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">Signed in as <strong>{{ user.first_name }} {{ user.last_name }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="menu">
            <button class="menu-options">
                <div>
                    Profile
                </div>
            </button>
            <br>
            <button class="menu-options">
                <div>
                    First Year Registration
                </div>
            </button>
            <br>
            <button class="menu-options">
                <div>
                    Lecturer Registration
                </div>
            </button>
            <br>
            <button class="menu-options">
                <div>
                    Timetable Upload
                </div>
            </button>
        </div>
        <div class="main">
            <div id="profile"></div>
            <div class="student-registration" id="student-registration">
                <h3>2024/2025 First Year Admission</h3>
                <div id="status"></div>
                <br>
                <div id="contents">
                    <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                    <br>
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="csv" class="file-input">
                            Upload file
                            <input type="file" name="file" id="csv">
                        </label>
                    </form>
                    <div class="confirmation" id="confirm">
                        Are you sure you want to enroll all students from file?
                        <button class="btn btn-primary" id="confirmed">Yes</button>
                        <button class="btn btn-secondary" id="not-confirmed" name="Cancel">Cancel</button>
                    </div>
                    <button id="upload" class="btn btn-primary">Upload File</button>
                </div>
            </div>
            <div id="lecturer-registration"></div>
            <div id="profile"></div>
            <div id="timetable-upload"></div>
        </div>
    </div>
{% endblock %}