{% extends "portal/layout.html"%}
{% block body %}
    <div class="grid-container">
        <div class="header">
            <ul class="nav justify-content-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">Signed in as <strong>{{ user.first_name }} {{ user.last_name }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <nav class="menu">
            <button onclick="ShowPage('#profile')" class="btn btn-light menu-options">
                <div>
                    Profile
                </div>
            </button>
            <button onclick="ShowPage('#student-registration')" class="btn btn-light menu-options">
                <div>
                    First Year Registration
                </div>
            </button>
            <button onclick="ShowPage('#lecturer-registration')" class="btn btn-light menu-options">
                <div>
                    Lecturer Registration
                </div>
            </button>
            <button onclick="ShowPage('#timetable-upload')" class="btn btn-light menu-options">
                <div>
                    Timetable Upload
                </div>
            </button>
        </nav>
        <div id="main" class="main">
            <div id="profile">profile</div>
            <div class="student-registration" id="student-registration">
                <h3>2024/2025 First Year Admission</h3>
                <br>
                <div id="status"></div>
                <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                <br>
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="csv" class="file-input btn btn-primary">
                        Choose file
                        <input type="file" name="file" id="csv">
                    </label>
                    <span id="filename"></span>
                    <input class="btn btn-success" type="submit" id="upload" value="Upload file">
                </form>
            </div>
            <div id="lecturer-registration"></div>
            <div id="profile"></div>
            <div id="timetable-upload"></div>
        </div>
    </div>
{% endblock %}