{% extends "portal/layout.html"%}
{% block body %}
    <div class="grid-container">
        <div class="header">
            {% if user.is_authenticated %}
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <h3 class="navbar-brand">Godolkin University</h3>
                   <div class="nav-item">
                    <a class="nav-link">Home</a>
                   </div>
                   <div class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log Out</a>
                   </div>
                </div>
              </nav>
            {% endif %}
        </div>
        <nav class="menu">
            <button onclick="ShowPage('#main', '#profile')" class="btn btn-light menu-options">
                <div>
                    Profile
                </div>
            </button>
            <button onclick="registration_view()" class="btn btn-light menu-options">
                <div>
                    First Year Registration
                </div>
            </button>
        </nav>
        <div id="main" class="main">
            <div id="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  {{ user.first_name }}
                  {{ user.last_name }}
                  {% if user.is_active %}
                  Yes
                  {% else %}
                  No
                  {% endif %}
                  {{ user.email }}
                  {{ user.gender }}
                  {{ user.position }}
                  {{ user.department }}
                  {{ user.office }}
            </div>
            <div class="student-registration" id="student-registration">
                <div id="file-upload">
                    <h3>2024/2025 First Year Admission</h3>
                    <br>
                    <div id="status"></div>
                    <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                    <br>
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="csv" class="file-input btn btn-primary">
                            Choose file
                            <input type="file" name="file" id="csv">
                        </label>
                        <span id="filename"></span>
                        <input class="btn btn-outline-success me-2 disabled" type="submit" id="upload" value="Upload file">
                    </form>
                    <button onclick="ShowPage('#student-registration', '#single-student')" class="btn btn-outline-primary">Register Single Student</button>
                </div>
                <div id="single-student">
                    <h3>2024/2025 First Year Admission</h3>
                    <br>
                    <form id="student" class="forms">
                        <input type="text" placeholder="First Name" autocomplete="off" id="first-name" required>
                        <input type="text" placeholder="Last Name"autocomplete="off" required id="last-name">
                        <input type="number" placeholder="i.e 071234..." autocomplete="off" required id="phone-number">
                        <input type="text" placeholder="National ID" autocomplete="off" required id="national-id">
                        <select id="course">
                            <option>Select Course</option>
                            <option>B.Sc. Computer Science</option>
                            <option>B.A. Psychology</option>
                            <option>B.Ed. Early ChildHood Eductaion</option>
                            <option>B.Ed Chemical Engineering</option>
                            <option>B.B.A. Finance</option>
                        </select>
                        <input type="submit" class="btn btn-success me-2" value="Register Student" autocomplete="off" required =>
                    </form>
                    <button onclick="ShowPage('#student-registration', '#file-upload')" class="btn btn-outline-primary">Upload Student File</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}