{% extends "administration/layout.html" %}
{% block body %}
<nav class="menu">
    <button class="btn btn-light menu-options">
        <div>
            School of Physical Science
        </div>
    </button>
    <button class="btn btn-light menu-options">
        <div>
            School of Social Science
        </div>
    </button>
    <button class="btn btn-light menu-options">
        <div>
            School of Health Science
        </div>
    </button>
    <button class="btn btn-light menu-options">
        <div>
            School of Law
        </div>
    </button>
    <button class="btn btn-light menu-options">
        <div>
            School of Business
        </div>
    </button>
    <button class="btn btn-light menu-options">
        <div>
            School of Education
        </div>
    </button>
</nav>
<div class="main" id="main"></div>
{% endblock %}