{% extends "administration/layout.html" %}
{% block body %}
<nav id="menu" class="menu">
</nav>
<div id="main">
    <div id="options" class="list"></div>
    <div id="courses" class="list">
    </div>
    <div id="course-details" class="list">
        <form method="post" id="add-unit">
            {% csrf_token %}
            <input type="text" id="unit" placeholder="Add Unit" autocomplete="off">
            </hr style="border: 1px #ccc solid;">
            <input type="submit" value="Add Unit">
        </form>
        <div id="course-units" class="list"></div>
    </div>
    <div id="departments" class="list">
    </div>
    <div id="dept-details">
        <div id="dept-options" class="list"></div>
        <div id="dept-units" class="list"></div>
        <div id="dept-lecs" class="list"></div>
    </div>
</div>
{% endblock %}