{% extends "administration/layout.html" %}

{% block body %}
<nav class="menu">
    <button onclick="ShowPage('#main','#profile')" class="menu-options btn btn-light">
        <div>
            Profile
        </div>
    </button>
    <button id="dept-lec-view" class="menu-options btn btn-light">
        <div>
            Lecturers
        </div>
    </button>
    <button onclick="ShowPage('#main','#units')" class="menu-options btn btn-light">
        <div>
            Units
        </div>
    </button>
</nav>
<div class="main" id="main">
    <div id="profile">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
        {{ lecturer.first_name }}
        {{ lecturer.last_name }}
        {% if lecturer.is_active %}
        Yes
        {% else %}
        No
        {% endif %}
        {{ lecturer.email }}
        {{ lecturer.gender }}
        {{ lecturer.position }}
        {{ lecturer.department.department }}
        {{ lecturer.office }}
    </div>
    <div id="lecturers" class="list">lecturers</div>
    <div id="lec" class="list">
        <div id="lec-profile"></div>
        <form method="post" id="add-lec-unit">
            {% csrf_token %}
            <input type="text" placeholder="Add Unit" id="unit">
            <input type="submit" value="Add Unit">
        </form>
    </div>
    <div id="units">units</div>
</div>
{% endblock %}