{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Portal{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'portal/styles.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
        <script src="{% static 'portal/script.js' %}"></script>
        <script src="{% static 'portal/student.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                {% if user.is_authenticated %}
                <nav class="navbar bg-body-tertiary">
                    <div class="row-flex">
                        <div class="nav-item">
                            <a href="{% url 'index' %}" class="link-decoration"><h4>Godolkin University</h4></a>
                        </div>
                        {% if user.is_authenticated %}
                        <div >
                            <strong>Signed as {{ user.username }}</strong>
                            <a href="{% url 'login' %}" class="link-decoration">Log Out</a>
                            {% else %}
                                <strong>Not signed in.</strong>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                {% endif %}
            </div>
            <nav class="menu">
                <button onclick="ShowPage('#main','#profile')" class="menu-options">
                    <div>
                        Profile
                    </div>
                </button>
                <button id="dept-lec-view" class="menu-options">
                    <div>
                       Department Lecturers
                    </div>
                </button>
                <button id='dept-units-view' class="menu-options">
                    <div>
                       Department Units
                    </div>
                </button>
                <button onclick="lecturer_units()" class="menu-options">
                    <div>
                       Your Units
                    </div>
                </button>
            </nav>
            <div class="main" id="main">
                <div id="profile" class="main-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <h4>Head Of {{ lecturer.department.department }} Department</h4>
                    <div><strong>Name:</strong> {{ lecturer.first_name }} {{ lecturer.last_name }}</div>
                    <div><strong>Gender:</strong> {{ lecturer.gender }}</div>
                    <div><strong>Phone Number: </strong> {{ lecturer.phone_number }}</div>
                    <div><strong>Session: </strong> Year {{ period.year}} Semester {{ period.sem }}</div>

                </div>
                <div id="lecturers" class="list">lecturers</div>
                <div id="lec" class="list">
                    <div id="lec-profile"></div>
                    <div id="add-lec-unit"></div>
                </div>
                <div id="dept-units">
                    <div id="dept-unit-list" class="list"></div>
                    <div id="dept-unit-details">
                        <br>
                        <h5 id="dept-unit-unit"></h5>
                        <hr>
                        <div id="dept-unit-courses" class="list">
                        </div>
                        <hr>
                        <div id="dept-unit-lecs" class="list">
                        </div>
                        <hr>
                        <div id="dept-unit-students" class="list"></div>
                    </div>
                </div>
                <div id="lec-units">
                    <div id="units-list"></div>
                    <div id="unit-details">
                        <br>
                        <h5 id="unit"></h5>
                        <hr>
                        <div id="unit-courses" class="list">
                        </div>
                        <hr>
                        <div id="unit-lecs" class="list">
                        </div>
                        <hr>
                        <div id="unit-students" class="list"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

