{% extends "administration/layout.html"%}
{% block body %}
    <nav class="menu">
        <button onclick="ShowPage('#main', '#profile')" class="btn btn-light menu-options">
            <div>
                Profile
            </div>
        </button>
        <button onclick="upload_lecturers()" class="btn btn-light menu-options">
            <div>
                Lecturer Registration
            </div>
        </button>
    </nav> 
    <div class="main" id="main">
        <div id="profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            {{ user.first_name }}
            {{ user.last_name }}
            {% if user.is_active %}
            Yes
            {% else %}
            No
            {% endif %}
            {{ user.email }}
            {{ user.gender }}
            {{ user.position }}
            {{ user.department }}
            {{ user.office }}
        </div>
        <div class="student-registration" id="lecturer-registration">
            <div id="lec-file-upload">
                <h3>Lecturer Registration</h3>
                <br>
                <div id="status"></div>
                <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                <br>
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="lec-csv" class="file-input btn btn-primary">
                        Choose file
                        <input type="file" name="file" id="lec-csv">
                    </label>
                    <span id="filename"></span>
                    <input class="btn btn-outline-success me-2 disabled" type="submit" id="upload" value="Upload file">
                </form>
                <button class="btn btn-outline-primary" onclick="register_lecturer()">Register Single Lecturer</button>
            </div>
            <div class="alert alert-warning" id="state"></div>
            <div id="single-lecturer">
                <h3>Lecturer Registration</h3>
                <br>
                <div id="single-status"></div>
                <form id="lecturer-form" method="post" class="forms">
                    {% csrf_token %}
                    <input type="text" placeholder="First Name" autocomplete="off" id="first-name" required>
                    <br>
                    <input type="text" placeholder="Last Name"autocomplete="off" required id="last-name">
                    <br>
                    <input type="number" placeholder="i.e 071234..." autocomplete="off" required id="phone-number">
                    <br>
                    <input type="number" placeholder="National ID" autocomplete="off" required id="national-id">
                    <br>
                    <input type="text" placeholder="Faculty" autocomplete="off" required id="faculty">
                    <br>
                    <input type="text" placeholder="Department" autocomplete="off" required id="department">
                    <br>
                    <select id="gender" required>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Rather Not Say</option>
                    </select>
                    <br>
                    <input type="submit" class="btn btn-success me-2" value="Register Student">
                </form>
                <button onclick="ShowPage('#lecturer-registration', '#file-upload')" class="btn btn-outline-primary">Upload Lecturer File</button>
            </div>
        </div>
    </div>
{% endblock %}