{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Portal{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'portal/styles.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
        <script src="{% static 'portal/script.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                {% if user.is_authenticated %}
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                    <h3 class="navbar-brand">Godolkin University</h3>
                    <div class="nav-item">
                        <a href="{% url 'index' %}"class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Log Out</a>
                    </div>
                    </div>
                </nav>
                {% endif %}
            </div>
            <nav id="menu" class="menu">
                <button onclick="ShowPage('#main', '#profile')" class="btn btn-light menu-options">
                    <div>
                        Profile
                    </div>
                </button>
                <a href="{% url 'faculties' %}" class="btn btn-light menu-options">
                    <div>
                        Faculties
                    </div>
                </a>
                <button onclick="upload_data('student')" class="btn btn-light menu-options">
                    <div>
                        First Year Registration
                    </div>
                </button>
                <button onclick="upload_data('lecturer')" class="btn btn-light menu-options">
                    <div>
                        Lecturer Registration
                    </div>
                </button>
                <button onclick="upload_data('department')" class="btn btn-light menu-options">
                    <div>
                        Upload Departments
                    </div>
                </button>
                <button onclick="upload_data('course')" class="btn btn-light menu-options">
                    <div>
                        Upload Courses
                    </div>
                </button>
                <button onclick="upload_data('unit')" class="btn btn-light menu-options">
                    <div>
                        Upload Units
                    </div>
                </button>
                <button onclick="upload_data('room')" class="btn btn-light menu-options">
                    <div>
                        Upload Rooms
                    </div>
                </button>
            </nav>
            <div id="main" class="main">
                <div id="profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    {{ user.first_name }}
                    {{ user.last_name }}
                    {% if user.is_active %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                    {{ user.email }}
                    {{ user.gender }}
                    {{ user.position }}
                    {{ user.department }}
                    {{ user.office }}
                </div>
                <div class="student-registration" id="student-registration">
                    <div id="student-file-upload">
                        <h3>2024/2025 First Year Admission</h3>
                        <br>
                        <div id="student-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-student-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="student-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="student-csv">
                            </label>
                            <span id="filename"></span>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="student-upload" value="Upload file">
                        </form>
                        <button onclick="register_student()" class="btn btn-outline-primary">Register Single Student</button>
                    </div>
                    <div class="alert alert-warning" id="state"></div>
                    <div id="single-student">
                        <h3>2024/2025 First Year Admission</h3>
                        <br>
                        <div id="single-status"></div>
                        <form id="student-form" method="post" class="forms">
                            {% csrf_token %}
                            <input type="text" placeholder="First Name" autocomplete="off" id="first-name" required>
                            <br>
                            <input type="text" placeholder="Last Name"autocomplete="off" required id="last-name">
                            <br>
                            <select id="gender" required>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Rather Not Say</option>
                            </select>
                            <br>
                            <input type="number" placeholder="i.e 071234..." autocomplete="off" required id="phone-number">
                            <br>
                            <input type="number" placeholder="National ID" autocomplete="off" required id="national-id">
                            <br>
                            <input type="text" placeholder="Faculty"autocomplete="off" required id="faculty" required>
                            <br>
                            <input type="text" placeholder="Department"autocomplete="off" required id="department" required>
                            <br>
                            <select id="course" required>
                                <option>Select Course</option>
                                <option>B.Sc. Computer Science</option>
                                <option>B.A. Psychology</option>
                                <option>B.Ed. Early ChildHood Eductaion</option>
                                <option>B.Ed Chemical Engineering</option>
                                <option>B.B.A. Finance</option>
                            </select>
                            <br>
                            <input type="submit" class="btn btn-success me-2" value="Register Student">
                        </form>
                        <button onclick="ShowPage('#student-registration', '#file-upload')" class="btn btn-outline-primary">Upload Student File</button>
                    </div>
                </div>
                <div class="student-registration" id="lecturer-registration">
                    <div id="lecturer-file-upload">
                        <h3>Lecturer Registration</h3>
                        <br>
                        <div id="lecturer-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-lecturer-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="lecturer-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="lecturer-csv">
                            </label>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="lecturer-upload" value="Upload file">
                        </form>
                        <button class="btn btn-outline-primary" onclick="register_lecturer()">Register Single Lecturer</button>
                    </div>
                    <div id="single-lecturer">
                        <h3>Lecturer Registration</h3>
                        <br>
                        <div id="single-status"></div>
                        <form id="lecturer-form" method="post" class="forms">
                            {% csrf_token %}
                            <input type="text" placeholder="First Name" autocomplete="off" id="first-name" required>
                            <br>
                            <input type="text" placeholder="Last Name"autocomplete="off" required id="last-name">
                            <br>
                            <input type="number" placeholder="i.e 071234..." autocomplete="off" required id="phone-number">
                            <br>
                            <input type="number" placeholder="National ID" autocomplete="off" required id="national-id">
                            <br>
                            <input type="text" placeholder="Faculty" autocomplete="off" required id="faculty">
                            <br>
                            <input type="text" placeholder="Department" autocomplete="off" required id="department">
                            <br>
                            <select id="gender" required>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Rather Not Say</option>
                            </select>
                            <br>
                            <input type="submit" class="btn btn-success me-2" value="Register Student">
                        </form>
                        <button onclick="ShowPage('#lecturer-registration', '#file-upload')" class="btn btn-outline-primary">Upload Lecturer File</button>
                    </div>
                </div>
                <div class="student-registration" id="department-registration">
                    <div id="department-file-upload">
                        <h3>Department Registration</h3>
                        <br>
                        <div id="department-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-department-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="department-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="department-csv">
                            </label>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="department-upload" value="Upload file">
                        </form>
                        <button class="btn btn-outline-primary" onclick="register_department()">Register Single Department</button>
                    </div>
                    <div class="alert alert-warning" id="state"></div>
                    <div id="single-department">
                        <h3>Department Registration</h3>
                        <br>
                        <div id="single-department-status"></div>
                        <form id="single-department-form" method="post" class="forms">
                            {% csrf_token %}
                            <input type="text" placeholder="Department" autocomplete="off" id="department-department" required>
                            <br>
                            <input type="text" placeholder="Faculty" autocomplete="off" required id="department-faculty">
                            <br>
                            <input type="submit" class="btn btn-success me-2" value="Register Department">
                        </form>
                        <button onclick="ShowPage('#department-registration', '#department-file-upload')" class="btn btn-outline-primary">Upload Department(s) File</button>
                    </div>
                </div>
                <div class="student-registration" id="course-registration">
                    <div id="course-file-upload">
                        <h3>Course Registration</h3>
                        <br>
                        <div id="course-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-course-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="course-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="course-csv">
                            </label>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="course-upload" value="Upload file">
                        </form>
                        <button class="btn btn-outline-primary" onclick="register_course()">Register Single Course</button>
                    </div>
                    <div id="single-course">
                        <h3>Department Registration</h3>
                        <br>
                        <div id="single-course-status"></div>
                        <form id="course-form" method="post" class="forms">
                            {% csrf_token %}
                            <input type="text" placeholder="Department" autocomplete="off" id="course-department" required>
                            <br>
                            <input type="text" placeholder="Faculty" autocomplete="off" required id="course-faculty">
                            <br>
                            <input type="submit" class="btn btn-success me-2" value="Register Course">
                        </form>
                        <button onclick="ShowPage('#course-registration', '#course-file-upload')" class="btn btn-outline-primary">Upload Course(s) File</button>
                    </div>
                </div>
                <div class="student-registration" id="unit-registration">
                    <div id="unit-file-upload">
                        <h3>Unit Registration</h3>
                        <br>
                        <div id="unit-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-unit-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="unit-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="unit-csv">
                            </label>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="unit-upload" value="Upload file">
                        </form>
                        <button class="btn btn-outline-primary" onclick="register_unit()">Register Single unit</button>
                    </div>
                </div>
                <div id="room-registration" class="student-registration">
                    <div id="room-file-upload">
                        <h3>Upload Rooms</h3>
                        <br>
                        <div id="room-status"></div>
                        <div><strong>NOTE: </strong> File must be an excel file `file.xlsx`</div>
                        <br>
                        <form id="upload-room-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="room-csv" class="file-input btn btn-primary">
                                Choose file
                                <input type="file" name="file" id="room-csv">
                            </label>
                            <span id="filename"></span>
                            <input class="btn btn-outline-success me-2 disabled" type="submit" id="room-upload" value="Upload file">
                        </form>
                        <button class="btn btn-outline-primary">Register Single Room</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>