{% extends "portal/layout.html" %}

{% block body %}
<nav class="menu">
    <button onclick="ShowPage('#main', '#profile')" class="menu-options">
        <div>
            Profile
        </div>
    </button>
    <button onclick="lecturer_units()" class="menu-options">
        <div>
           Your Units
        </div>
    </button>
</nav>
<div class="main" id="main">
    <div id="profile" class="main-container">
        <h3>Profile: </h3>
        <div><strong>Name:</strong> {{ lecturer.first_name }} {{ lecturer.last_name }}</div>
        <div><strong>Department:</strong> {{ lecturer.department.department }}</div>
        <div><strong>Gender:</strong> {{ lecturer.gender }}</div>
        <div><strong>Phone Number: </strong> {{ lecturer.phone_number }}</div>
        <div><strong>Session: </strong> Year {{ period.year}} Semester {{ period.sem }}</div>
    </div>
    <div id="lec-units">
        <div id="units-list"></div>
        <div id="unit-details">
            <br>
            <h5 id="unit"></h5>
            <hr>
            <div id="unit-courses" class="list">
            </div>
            <hr>
            <div id="unit-lecs" class="list">
            </div>
            <hr>
            <div id="unit-students" class="list"></div>
        </div>
    </div>
</div>
{% endblock %}