{% extends "portal/layout.html"%}
{% block body %}
<nav class="menu">
    <button onclick="ShowPage('#main', '#profile')" class="menu-options btn btn-light">
        <div>
            Profile
        </div>
    </button>
    <button onclick="unit_registration()" class="menu-options btn btn-light">
        <div>
            Unit Registration
        </div>
    </button>
    <button onclick="accomodation_registration()" class="menu-options btn btn-light">
        <div>
            Accomodation Registration
        </div>
    </button>
</nav>
<div class="main" id="main">
    <div id="profile">
        {{ student.first_name }}
        {{ student.last_name }}
        {{ student.course.course }}
        {{ student.gender }}
        +{{ student.phone_number }}
    </div>
    <div id="unit-registration" >units</div>
    <div id="accom-registration" class="student-registration">
        <div id="status">
            <h4>2024/2025 Accomodation Registration</h4>
            <br>
            <div class="alert alert-warning">
                <strong>ALERT!</strong> Room Booking is closed!
            </div>
        </div>
        <div id="accom-upload">
            <h4>2024/2025 Accomodation Registration</h4>
            <br>
            <h6>Hostels:</h6>
            <form method="post" id="book-room">
                {% csrf_token %}
                <select id="house">
                    <option>Hostels</option>
                    {% for dorm in dorms %}
                    <option value="{{ dorm }}">{{ dorm }}</option>
                    {% endfor %}
                </select>
                <input type="number" placeholder="Room" autocomplete="off" required id="room" min="1" max="30">
                <input type="number" placeholder="Bed" autocomplete="off" id="bed" required min="1" max="3">
                <br><br>
                <input type="submit" value="Register Residence" class="btn btn-primary">
            </form> 
        </div>
    </div>
</div>
{% endblock %}