{% extends "portal/layout.html"%}
{% block body %}
<nav class="menu">
    <button class="menu-options btn btn-light">
        <div>
            Profile
        </div>
    </button>
    <button class="menu-options btn btn-light">
        <div>
            Unit Registration
        </div>
    </button>
    <button class="menu-options btn btn-light">
        <div>
            Accomodation Registration
        </div>
    </button>
    <button class="menu-options btn btn-light">
        <div>
            Resit/Special Registration
        </div>
    </button>
</nav>
<div class="main">
    <div id="profile"></div>
    <div id="unit-registration"></div>
</div>
{% endblock %}