{% extends "portal/layout.html" %}
{% block body %}
<div class="container">
    <form action="{% url 'register' %}" method="post" class="cecil">
        {% csrf_token %}
        <h1 class="welcome-decoration">Welcome to Godolkin University</h1>
        <br>
        <input type="radio" id="student" name="rank" value="Student">
        <label for="student">Student</label>
        <input type="radio" id="employee" name="rank" value="Employee">
        <label for="employee">Employee</label>
        <div class="form form-group">
            {% if no_user %}
                <div>{{ no_user }}</div>
            {% endif %}
            <input type="text" placeholder="EmployeeID" required name="userID" class="form-control">
        </div>
        <div class="form form-group">
            <input type="password" name="password" required placeholder="Enter Password" class="form-control">
        </div>
        <div class="form form-group">
            <input type="password" name="confirmation" required placeholder="Confirm Password" class="form-control">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        </div>
        <input class="other-btns" type="submit" value="Create Account">
        <br>
        <div>Already have an account? <a class="welcome-decoration" href="{% url 'login' %}">Login Here.</a></div>
    </form>
</div>
{% endblock %}