input[type="file"]{
    display: none;
}

.file-input{
    display: inline-block;
}

.cecil{
    margin: auto;
    width: 38%;
    position: absolute;
    top: 120px;
    border: 1px #ccc solid;
    border-radius: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.container{
    width: 40%;
}

.student-registration{
    border: 1px #ccc solid;
    border-radius: 30px;
    width: 50%;
    margin: auto;
    height: 70vh;
    text-align: center;
    position: relative;
    top: 30px;
}
.content{
    margin: 15vb;
}
.confirmation{
    display: none;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 20px;
    border: 1px #ccc solid;
}

.header{
    grid-area: 1 /  1 / span 1 / span 3;
    padding: 15px;
    position: sticky;
    flex-flow: row wrap;
    background-color: beige;
    top: 0;
    z-index: 1;
}

.main, .faculty-main{
    grid-area: 2 / 2 /span 2 / span 2;
    width: 85vw;
    min-height: 100vh;
}

.menu{
    display: flex;
    position: sticky;
    top: 75px;
    height: calc(100vh - 75px);
    flex-flow: column wrap;
    width: fit-content;
    background-color: #9ee0b0;
    grid-area: 2 / 1 / span 2 / span 1;
}

.forms{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 'auto auto';
}

.menu-options{
    width: 100%;
    padding: 20px;
    border-radius: 0;
}

.align{
    text-align: right;
    border: 1px solid #ccc;
}

/* .faculty-main{
    grid-area: 2 / 2 /span 2 / span 2;
    display: grid;
    grid-template-columns: auto auto;
} */

.grid-item{
    border: 1px #ccc solid;
    border-radius: 20px;
    width: 30%;
    background-color: #fff;
    padding: 70px;
    margin: auto;
}


.list{
    display: flex;
    flex-flow: column wrap;
    padding: 20x;
}