input[type="file"]{
    display: none;
}

body{
    background-color: #87CEEB;
    color: #001f3f;
}

.file-input{
    display: inline-block;
}

.container{
    margin-left: 28vw;
}

.cecil{
    margin: auto;
    width: 50%;
    position: absolute;
    top: 120px;
    border-radius: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.link-decoration, .link-decoration:hover{
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
}

.welcome-decoration, .welcome-decoration:hover{
    text-decoration: none;
    color: #001f3f; 
}

.main-container{
    width: 50%;
    margin-left: 22vw;
    height: 70vh;
    position: relative;
    top: 30px;
}
.register-container{
    width: 50%;
    margin-left: 32vw;
    /* position: relative;
    bottom: 450px; */
}
.content{
    margin: 15vb;
}
.confirmation{
    display: none;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 20px;
    border: 1px #ccc solid;
}

.header{
    grid-area: 1 /  1 / span 1 / span 3;
    /* padding: 5px; */
    position: sticky;
    flex-flow: row wrap;
    background-color: #03315f;
    color: #fff;
    top: 0;
    z-index: 1;
}

.main{
    grid-area: 2 / 2 /span 2 / span 2;
    width: 85vw;
    min-height: 100vh;
    background-color: #87CEEB;
    color: #001f3f;
}

.menu{
    display: flex;
    position: sticky;
    top: 75px;
    height: calc(100vh - 75px);
    flex-flow: column wrap;
    width: fit-content;
    border-right: 1px #87CEEB solid;
    background-color: #03315f;
    grid-area: 2 / 1 / span 2 / span 1;
}

.forms{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.grid-container{
    display: grid;
    grid-template-columns: 'auto auto';
}

.menu-options{
    width: 100%;
    padding: 20px;
    border: none;
    color: #fff;
    background-color: #001f3f;
}

.other-btns{
    border: none;
    color: #fff;
    background-color: #001f3f;
    border-radius: 5px;
    padding: 1%;
}
.other-btns-disabled{
    border: none;
    color: #073766;
    background-color: #3abfef;
    border-radius: 5px;
    padding: 1%;
}
.menu-options:hover, .other-btns:hover{
    transition: all 300ms ease-in-out;
    background-color: #03315f;
    border: none;
}
.align{
    text-align: right;
    border: 1px solid #ccc;
}

/* .faculty-main{
    grid-area: 2 / 2 /span 2 / span 2;
    display: grid;
    grid-template-columns: auto auto;
} */

.grid-item{
    border: 1px #03315f solid;
    border-radius: 20px;
    width: 30%;
    background-color: #fff;
    padding: 70px;
    margin: auto;
}

.profile-details{
    font-size: 20px;
}
.list{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}

.row-flex, .header-details{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-details{
    justify-content: flex-start;
}